<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/javascript/jquery.js"></script>
  <script src="/javascript/main.js"></script>
  <title>Payment History</title>
</head>
<body>
  <%- include('../partials/navbar-parent') %> 
  <div class="main-block">
    <div class="data-table">
      <table class="w3-table-all">
        <thead>
          <th>Status</th>
          <th>Transaction ID</th>
          <th>Appointment Number</th>
          <th>Course</th>
        </thead>
        <% for(let i = 0; i < 25; i++) { %> 
          <tr>
            <td>status</td>
            <td>tid</td>
            <td>apt id</td>
            <td>course name</td>
          </tr>
        <% } %> 
      </table>
    </div>
    <br>
    <div>
      <center>
        <button onclick="window.history.back()">BACK</button>
      </center>
    </div>
  </div>
</body>
</html>