<div id="main-navbar">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Trustworthy Tutors</a>
    <div class="collapse navbar-collapse">
      <ul class="nav nav-pills">
        <!-- Navigation links go here -->
        <li class="nav-item">
          <!-- TODO: Set up links for these -->
          <ul class="navbar-nav mr-auto">
            <a href="#" class="nav-item nav-link">About</a>
            <a href="#" class="nav-item nav-link">Our Mission</a>
            <a href="#" class="nav-item nav-link">Contact</a>
            <a href="#" class="nav-item nav-link">Become a tutor</a>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <ul class="navbar-nav mr-auto">
          <a href="#" class="nav-item nav-link">Sign Up</a>
          <a href="#" class="nav-item nav-link">Login</a>
        </ul>
      </li>
    </ul>
  </nav>
  </div>
</div>

<style>
  #main-navbar {
    /* position: fixed; */
    width: auto;
  }
</style>