<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  </head>
  <body class="background">
    <!-- Navbar -->
    <%- include("./partials/navbar-main.ejs") %> 

    <!-- Selector for user type -->
    <div id="selectorView" class="main-block" style="padding: 20px 20px">
      <h1>Select login type</h1>
      <div class="btn-block">
        <button type="submit" onclick="toggleStudent()">Student</button>
      </div>
      <div class="btn-block">
        <button type="submit" onclick="toggleTutor()">Tutor</button>
      </div>
      <div class="btn-block">
        <button type="submit" onclick="toggleParent()">Parent</button>
      </div>
    </div>

    <!-- Student Login div -->
    <div id="studentLogin" class="main-block">
      <h1>Student Login</h1>
      <form action="/api/loginStudent" method="POST">
        <label id="icon" for="email"><i class="fa fa-user"></i></label>
        <input type="email" name="email" placeholder="Email" required/>
        <br><br>
        <label id="icon" for="password"><i class="fa fa-unlock-alt"></i></label>
        <input type="password" name="password" placeholder="Password" required/>
        <div class="btn-block">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>

    <!-- Tutor Login div -->
    <div id="tutorLogin" class="main-block">
      <h1>Tutor Login</h1>
      <form action="/api/validateLogin">
        <label id="icon" for="email"><i class="fa fa-user"></i></label>
        <input type="email" name="email" placeholder="Email" required/>
        <br><br>
        <label id="icon" for="password"><i class="fa fa-unlock-alt"></i></label>
        <input type="password" name="password" placeholder="Password" required/>
        <div class="btn-block">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>

    <!-- Parent Login div -->
    <div id="parentLogin" class="main-block">
      <h1>Parent Login</h1>
      <form action="/api/loginParent">
        <label id="icon" for="email"><i class="fa fa-user"></i></label>
        <input type="email" name="email" placeholder="Email" required/>
        <br><br>
        <label id="icon" for="password"><i class="fa fa-unlock-alt"></i></label>
        <input type="password" name="password" placeholder="Password" required/>
        <div class="btn-block">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </body>
</html>

<script javascript>
  $("#studentLogin").hide(true);
  $("#tutorLogin").hide(true);
  $("#parentLogin").hide(true);

  function toggleStudent() {
    $("#studentLogin").toggle();
    $("#selectorView").toggle();
    console.log("Toggled student view")
  }

  function toggleParent() {
    $("#parentLogin").toggle();
    $("#selectorView").toggle();
    console.log("Toggled student view")
  }

  function toggleTutor() {
    $("#tutorLogin").toggle();
    $("#selectorView").toggle();
    console.log("Toggled tutor view")
  }

  // On escape, show all login types
  $(document).on('keydown', function(event) {
    if(event.key == 'Escape') {
      $("#studentLogin").hide(true);
      $("#tutorLogin").hide(true);
      $("#parentLogin").hide(true);
      $("#selectorView").show();
    }
  })

</script>

<style>
  html, body {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  /* body, div, h1, form, input, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto,  sans-serif;
    font-size: 16px;
    color: #666;
  } */

  body {
    background-image:url("/assets/shelf.jpeg");
  }

  
  h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 12px;
  }

  hr {
    color: #a9a9a9;
    opacity: 0.3;
  }

  .main-block {
    max-width: 340px; 
    min-height: 320px; 
    padding: 10px 0;
    margin: auto;
    border-radius: 5px; 
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    background: #ebebeb; 
  }
  form {
    margin: 0 30px;
  }
  
  label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
  }
  
  input[type=email], input[type=password] {
    height: 43px;
    margin: 13px 0 0 -5px;
    padding-left: 10px; 
    /* border-radius: 5px 5px; */
    border: solid 1px #cbc9c9; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
  }

  input[type=email]:focus ,  input[type=password]:focus {
    box-shadow: 0 0 5px rgb(233, 115, 6);
    border: 1px solid #f05f40;
  }
    
  /* input[type=password] {
    margin-bottom: 15px;
  } */

  #icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #f05f40;
    color: #fff;
    text-align: center;
  }

  .btn-block {
    margin-top: 10px;
    text-align: center;
  }

  button {
    width: 40%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px; 
    border: none;
    background: #f05f40; 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
  }

  button:hover {
    background: #f05f40;
  }

  .w3-bar   .w3-button {
    font-family:"Raleway",sans-serif;
    padding : 16px;
  }

</style>