<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<body>
  <%- include("../partials/navbar-tutor") %> 
  <div class="main-block">
      <h2>Hello, <%- name %> </h2><hr>
      <h2><a href="/tutor/viewscheduledappointments"><span class="fa fa-calendar"></span> View Scheduled Appointments </a></h2>
      <h2><a href="/tutor/messages"><span class="fa fa-comment"></span> Messages</a></h2>
      <h2><a href="/tutor/income"><span class="fa fa-money"></span> Manage Income </a></h2>
      <h2><a href="/tutor/viewappointmenthistory"><span class="fa fa-history"></span> View Appointment History </a></h2>
      <h2><a href="/tutor/editprofile"><span class="fa fa-edit"></span> Edit Profile </a></h2>
      <form action="/rm-session" method="get">
        <div class="btn-block">
          <button type="submit">Sign out</button>
        </div>
      </form>
    </div>
</body>
</html>