<!DOCTYPE html>
<html>
  <head>
    <title><%- name %> - homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <style>
      html, body {
      display: flex;
      justify-content:space-around;
      height: 100%
      }

      body, div, h1{ 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto,  sans-serif;
      font-size: 16px;
      color:black;
      }

      body{
          background-color:#f05f40;
          background-image:url(/assets/books.jpeg);   
          background-size: cover;
          min-width: 100%;
          max-width: 100%;
      }

      
      h1 {
      
      padding: 0px 0;
      font-size: 32px;
      font-weight: 300;
      
      }
      
      
      .main-block {
        position:relative;
       
       min-width: 450px;
       min-height:40%;
      
      padding: 30px 30px;
      margin: auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background:whitesmoke; 
    
      }

      a {
          text-decoration : none;
      }

      a:hover{
          background-color: #f05f40;
      }
    
      
     
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      position : relative;
      top :30px;
      left: 45%;
      width: 15%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 5px; 
      border: none;
      background:black; 
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      button:hover {
      background:  #f05f40;
      }

      

      .w3-bar   .w3-button {
          font-family:"Raleway",sans-serif;
    padding : 16px;

      
}
    </style>
  </head>
  <body>

  
    <div class="main-block">
      <h1>Hello, <%- name %> </h1><hr>
      <h1><a href="/tutor/editprofile"><span class="fa fa-edit"></span> Edit Profile </a></h1>
      <h1><a href="/tutor/viewscheduledappointments"><span class="fa fa-calendar"></span> View Scheduled Appointments </a></h1>
      <h1><a href="/tutor/manageincome"><span class="fa fa-money"></span> Manage Income </a></h1>
      <h1><a href="/tutor/viewappointmenthistory"><span class="fa fa-history"></span> View Appointment History </a></h1>
      <form action="/rm-session" method="get">
        <div class="btn-block">
          <button type="submit">Sign out</button>
        </div>
      </form>
    </div>
  </body>
</html>