<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Edit Profile</title>
</head>
<body>
  <%- include("../partials/navbar-student.ejs") %> 
  <div class="main-block">
    <h1>Edit Profile</h1>
    <hr>
    <!-- EDIT PROFILE FORM -->
    <form action="/api/users/student/updateProfile" method="post" style="text-align: center;">
      <h3>Bio</h3>
      <div><textarea name="bio" id="" cols="30" rows="10" style="resize: none" placeholder="Your bio is empty!"><% if (profile[0].BIO) { %><%-profile[0].BIO %><% } %></textarea></div>
      <label for="">Gender</label>
      <div>
        <select name="gender" id="">
          <% if (!profile[0].GENDER) { %>
            <option value="none" selected disabled hidden>Not Set</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          <% } else if(profile[0].GENDER == 'M') { %>
            <option value="male">Male</option>
            <option value="female">Female</option>
          <% } else { %> 
          <option value="female">Female</option>
          <option value="male">Male</option>
          <% } %> 
        </select>
      </div>
      <br>
      <button type="submit">Update Profile</button>
    </form>
  </div>
</body>
</html>

<style>
</style>