<!DOCTYPE html>
<html>
  <head>
    <title><%- name %> - Home</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <style>
      html, body {
      display: box;
      justify-content: space-around;
      height: 100%;
      }

      body, div, h1{ 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto,  sans-serif;
      font-size: 16px;
      color:black;
      }

      body{
          background-color:#f05f40;
          background-image:url(books.jpeg);   
      }

      
      h1 {
      
      padding: 0px 0;
      font-size: 32px;
      font-weight: 300;
      
      }
      
      
      .main-block {
      position: absolute;
      width: 1430px;
      height: 451px;
      left: 0px;
      top: 132px;
      padding: 30px 30px;
      margin: auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background:#f05f40; 
    
      }

      a {
          text-decoration : none;
      }

      a:hover{
          background-color: yellow;;
      }
    
      
     
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      position :absolute;
      top :370px;
      left:1100px;
      width: 10%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 5px; 
      border: none;
      background: gray; 
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      button:hover {
      background: black;
      }

      

      .w3-bar   .w3-button {
          font-family:"Raleway",sans-serif;
    padding : 16px;

      
}
    </style>
  </head>
  <body>

    <!-- TODO: format the name to make it in area as in Figma -->
    <h1><%- name %> </h1>
    <div class="main-block">
      <a href=""><h1><i class="fa fa-edit"></i> Edit Profile  </a>
      <a href=""><h1><i class="fa fa-search"></i> Search For Tutors  </a>
      <a href=""><h1><i class="fa fa-calendar"></i> View Scheduled Appointments </a>                   
      <a href=""><h1><i class="fa fa-money"></i> Manage Payments </a>
      <a href=""><h1><i class="fa fa-history"></i> View Appointment History </a>

     
  
      <div class="btn-block">
        <a href="/rm-session"><button type="submit">Sign out</button></a>
      </div>
    </div>
  </body>
</html>