<!DOCTYPE html>
<html>
  <head>
    <title>View Scheduled Appointments </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <%- include("../partials/navbar-student") %> 
  <div class="main-block">
    <h1><i class="fa fa-calendar"></i> View Scheduled Appointments</h1>
  </div>
</div>
</body>
</html>