<!DOCTYPE html>
<html>
  <head>
    <title>View Scheduled Appointments </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
   <style>
      html, body {
      display: flex;
      justify-content:space-around;
      height: 100%
      }

      body, div, h1{ 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto,  sans-serif;
      font-size: 16px;
      color:black;
      }

      body{
          background-color:#f05f40;
          
      }

      
      h1 {
      
      padding: 0px 0;
      font-size: 32px;
      font-weight: 300;
      
      }
      
      
      .main-block {
      position:relative; 
      min-width: 450px;
      min-height:40%;
      padding: 30px 30px;
      margin: auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background:whitesmoke; 
    
      }

     
    
      
     
     
      

      

    </style>
  </head>
  <body>

  
    <%- include("../partials/navbar-student") %> 
    <div class="main-block">

      <h1><i class="fa fa-calendar"></i> View Scheduled Appointments                  
     

     
  
      </form>
    </div>
  </body>
</html>