<!DOCTYPE html>
<html>
  <head>
    <title>View Scheduled Appointments </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <%- include("../partials/navbar-student") %> 
  <div class="main-block">

    <h1><i class="fa fa-calendar"></i> View Scheduled Appointments</h1>
    <div class="overflow">

      <% for( let index = 0; index < 20; index++ ) { %>
        <a href="#">
          <div class="meeting">
            <div class="course-name">COURSE NAME</div>
            <div class="tutor-info">TUTOR EMAIL</div>
            <div class="meeting-time">TIME OF MEETING</div>
          </div>
        </a>
      <% } %>

    </div>

  </div>
</body>
</html>

<style>
  .overflow {
    border: 1px solid black;
    overflow: auto;
    min-height: 360px;
    max-height: 500px;
  }

  .meeting {
    border: 1px solid black;
  }

  .course-name {
    border-left: none;
    border-top: none;
    border-right: 1px solid black;
    text-align: left;
    float: left;
    padding: 10px 10px;
  }

  .tutor-info {
    border-left: none;
    border-top: none;
    text-align: right;
    float: left;
    padding: 10px 10px;
    text-align: center;
    border-right: 1px solid black;
  }

  .meeting-time {
    text-align: center;
    border-left: none;
    border-top: none;
    padding: 10px 10px;
  }
</style>