<!DOCTYPE html>
<html>
  <head>
    <title>Search </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
  <body>
    <%- include("../partials/navbar-student") %> 
    <div class="wrap">
      <div>
        <form action="#" method="post">
          <button type="submit" class="searchButton"><span class="fa fa-search"></span></button>
          <input type="text" class="searchTerm" placeholder="Enter a course name">
        </form>
      </div>
   </div>
  </body>
</html>

<style>

.searchTerm {
  width: 75%;
  /* border: 3px solid #f05f40; */
  /* border-right: none; */
  /* padding: 5px; */
  height: 45px;
  /* outline: none; */
  float: right;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  float: right;
  width: 40px;
  height: 45px;
  border: 1px solid #f05f40;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0px;
}

/* Resize the wrap to see the search bar change! */
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url(/assets/orange.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

body, html {
  height: 100%;
}
</style>