<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title><%- user %> - Set Parent Account</title>
</head>
<body>
  <%- include("../partials/navbar-student") %> 
  <div class="main-block">
    <center>
      <div><h1>Current Parent Account</h1></div>
      <% if (!pemail) { %>
        <p>No parent account defined.</p>
      <% } else { %>
        <p><%- pemail %></p>
      <% } %> 
      <form action="/api/users/student/setParentAccount" method="post">
        <input type="text" name="pemail" id="">
        <button type="submit">Set</button>
      </form>
    </center>
  </div>
</body>
</html>